<app-navbar-info></app-navbar-info>

    <div class="container-fluid">
        <div>
            <app-navbar-vertical-info></app-navbar-vertical-info>
        </div>
        <div class="col-sm-5 text-left">
            <h1>Simple Network Management Protocol(SNMP)</h1>
            <div>
                <p>Protocolo de gestión y supervisión de la capa de aplicación en las redes de computo el cual permite intercambiar información de gestión entre los dispositivos conectados en la red a partir de protocolos TCP/IP como UDP e IP.  En la figura  se observa la arquitectura del protocolo SNMP compuesta por un administrador y un agente SNMP. Igualmente, se compone por una base de información de gestión denominada MIB que incluye todos los parámetros que pueden ser gestionados tales como interfaces de red y protocolos TCP/IP asbtraidos de los dispositivos conectados en la red. </p>
            </div>
            <div>      
                <p>SNMP utiliza 5 mensajes básicos para la transferencia de información entre el administrador y el agente SNMP como son Get, Get-next, Get-request - Get-Response, SET y Trap. Los mensajes Get y Get-next permiten al administrador solicitar información específica sobre una variable al agente SNMP quien responde la solicitud con la información solicitada o un mensaje de error a partir de la utilización del mensaje Get-request. SET fija valores específicos a una variable de un dispositivo remoto. Finalmente, los mensajes Trap permiten enviar información de eventos relevantes en la red al administrador SNMP</p>  
            </div>
            
        </div>
        <div class="col-sm-5 text-left">
            
            <div>   
                <a href="assets/ims/SNMP.JPG" target="_blank">
                    <img src="assets/ims/SNMP.JPG" alt="SNMP"  style="max-width: 100%; height: auto;" hspace="10" vspace="10">
                </a>
            </div>  
            
        </div>
        
        
    </div>
  
    
