<app-navbar-info></app-navbar-info>

    <div class="container-fluid">
        <div>
            <app-navbar-vertical-info></app-navbar-vertical-info>
        </div>
        <div class="col-sm-5 text-left" >
            <h1>Virtual IMS</h1>
            <div>
                <p>IMS está compuesto por componentes hardware y software para el control de servicios  
                    multimedia en la red. Mediante NFV se abstraen las funcionalidades de los componentes
                    hardware IMS para ser desplegadas en contenedores o instancias de VM. Estas instancias proveen acceso a un conjunto escalable de recursos virtuales los cuales pueden ser aprovisionados y gestionados bajo demanda, además, del manejo de cadenas de servicios en un entorno de nube</p>
            </div>
            
            <div>      
                <p>En la Figura se observa la implementación de IMS sobre NFV denominada vIMS (virtual IMS). 
                    La capa de recursos físicos compuesta por un Datacenter que contiene dispositivos de almacenamiento, 
                    procesamiento y de red. La capa de virtualización utiliza un hipervisor o monitor de VM para controlar 
                    la virtualización de los recursos físicos y por último la capa de servicios virtualizados donde las 
                    funciones de cada nodo de IMS son desplegadas en VM.</p>  
            </div>    
            <hr>
        </div>
        <div class="col-sm-5 text-left">   
            <a href="assets/ims/vIMS.JPG" target="_blank">
                <img src="assets/ims/vIMS.JPG" alt="plataforma Telco"  class="center" hspace="10" vspace="10">
            </a>
        </div> 
        
    </div>
    
