<app-navbar-info></app-navbar-info>

    <div class="container-fluid">
        <div>
            <app-navbar-vertical-info></app-navbar-vertical-info>
        </div>
        <div class="col-sm-5 text-left">
            <h1>Next Generation Networks (NGN)</h1>
            <div>
                <p>NGN provee servicios de telecomunicaciones basados en la transferencia de paquetes sobre el protocolo IP.
                    Esta arquitectura brinda una plataforma de multiservicios convergentes que pueden ser consumidos por los usuarios independiente de las tecnologías de acceso (e.g, xDSL, WiMax, GPRS y HFC). 
                    Además, provee interfaces  abiertas estandarizadas que facilitan la interoperabilidad con redes tradicionales de video, voz y datos.</p>
                <p><!--La arquitectura NGN está compuesta por las capas de aplicación, control y acceso. La capa de aplicación gestiona las aplicaciones y servicios en la red. 
                    En la arquitectura NGN, la capa de control es la encargada de manejar la señalización entre los usuarios y los servicios de aplicación, admitiendo el establecimiento y finalización de sesiones en la red por medio de la arquitectura IMS. 
                    Además, proporciona seguridad, gestión, facturación y almacenamiento de los perfiles de usuario en el HSS (Home Subscriber Server). --></p>
            </div>
            <h1>Subsistema Multimedia IP</h1>
            <div>
            <p>IMS es una estandarización de la arquitectura NGN desarrollada por el 3GPP (3rd Generation Partnership Project) para proveer y controlar diferentes tipos de servicios multimedia basados en el protocolo IP, 
                además, de  garantizar escalabilidad e interoperabilidad con otras redes. IMS tiene soportar diferentes tecnologías de acceso que permiten iniciar, mantener y finalizar sesiones multimedia 
                mediante el protocolo SIP. </p>
            <p>La arquitectura IMS está compuesta por 3 capas. En la capa de aplicación se encuentran los AS (Application Server) encargados de manejar la lógica de los servicios y aplicaciones. 
                En la capa de control se encuentra el núcleo IMS compuesto por el HSS y los nodos CSCF (Call Session Control Function)  elementos de señalización y control del sistema.
                Finalmente, en la capa de acceso se encuentran las tecnologías y métodos de acceso a la arquitectura IMS tales como redes Wi-FI y Fibra óptica.</p>  
    
            </div>
        </div>
        
        <div class="col-sm-5 ">   
            <a href="assets/ims/IMS.JPG" target="_blank">
                <img src="assets/ims/IMS.JPG" alt="IMS"  style="max-width: 100%; height: auto;" hspace="10" vspace="10">
            </a>
        </div>  
        
    </div>
  
    
