<app-navbar-info></app-navbar-info>

    <div class="container-fluid">
        <div>
            <app-navbar-vertical-info></app-navbar-vertical-info>
        </div>
        <div class="col-sm-5 text-left">
            <h1>Virtualización de funciones de red (NFV)</h1>
            <div>
                <p>NFV desacopla las NF (Network Functions) de dispositivos hardware propietarios con el fin de proveer servicios de red virtualizados (e.g., Enrutamiento, conmutación, balanceo de carga y firewall)  los cuales  son  alojados en VM (Virtual Machines). }
                    NFV provee una arquitectura con capacidad de instanciar nuevas funciones virtualizadas, disminuyendo la dependencia de equipos propietarios, facilitando la escalabilidad de la red y la gestión de los recursos </p>
            </div>
            <div>      
                <p>La Figura <b>4</b> muestra el marco de referencia de NFV donde los recursos virtuales son el resultado de la abstracción de recursos físicos (e.g., procesamiento, almacenamiento y dispositivos de red) a partir de una capa de virtualización que permite alojar las NF en instancias de VM o contenedores. De forma transversal se tiene a MANO (Network Functions Virtualization Management and Orchestration) encargado de gestionar los recursos del sistema y automatizar las tareas de administración en la red </p>  
            </div>
            
        </div>
        <div class="col-sm-5 text-left">
            
            <div>   
                <a href="assets/ims/NFV.JPG" target="_blank">
                    <img src="assets/ims/NFV.JPG" alt="NFV"  style="max-width: 100%; height: auto;" hspace="10" vspace="10">
                </a>
            </div>  
            
        </div>
        
        
    </div>
  
    
