<app-navbar-info></app-navbar-info>

    <div class="container-fluid">
        <div>
            <app-navbar-vertical-info></app-navbar-vertical-info>
        </div>
        <div class="col-sm-5 text-left">
            <h1>Rendimiento</h1>
            <div>
                <p>El rendimiento de una red es determinado por la calidad del servicio (QoS) y el 
                    comportamiento de un enlace de comunicaciones. Esto facilita detectar y resolver 
                    anomalías presentes en la red como son pérdidas de tiempo de comunicación o caídas
                    en el sistema. La evaluación de parámetros como el consumo de CPU, RAM y almacenamiento 
                    en un sistema de comunicaciones permiten tasar el desempeño del sistema y la confiabilidad 
                    de los componentes individuales de la red. Por otro lado, las aplicaciones multimedia requieren 
                    niveles mínimos de retardo, ancho de banda y perdida de paquetes para garantizar 
                    la calidad del servicio. En la Tabla se resume los niveles requeridos de métricas 
                    de QoS para aplicaciones de video y voz en tiempo real y bajo demanda. </p>
            </div>
        </div>  
        <div class="col-sm-5 text-left">
            
            <div>   
                <a href="assets/ims/Rendimiento.png" target="_blank">
                    <img src="assets/ims/Rendimiento.png" alt="SNMP"  style="max-width: 100%; height: auto;" hspace="10" vspace="10">
                </a>
            </div>  
            <div>      
                <p>El testbed "Telco IMS" permite monitorizar recursos de procesamiento y 
                    almacenamiento, al igual que métricas de QoS tales como retardo, ancho de banda
                    y perdida de paquetes que son fundamentales para garantizar el funcionamiento y 
                    la calidad del servicio en un sistema de Telecomunicaciones.</p>  
            </div>
            
        </div>
        
        
    </div>
  
    
